includeConfig "${launchDir}/plink2_score.config"

// set up profile
// change these parameters as needed
profiles {
    non_docker_dev {
        process.executor = 'local'
    }

    standard {
        process.executor = 'local'
        process.container = 'katiecardone26/plink2-score:latest'
        docker.enabled = true
    }
    cluster {
        process.executor = 'executor_name'
        process.queue = 'queue_name'
        process.memory = '30GB'
        process.container = 'plink2_score.sif'
        singularity.enabled = true
        singularity.runOptions = '-B /project/,/static/'
    }

    all_of_us {
       // CHANGE EVERY TIME! These are specific for each user, see docs
        google.lifeSciences.serviceAccountEmail = 'pet-XXX-@terra.vpc-sc-XXXXXXXX.iam.gserviceaccount.com' // change to user-specific service email
        workDir='gs://fc-secure/path/to/workdir' // change to your user-specific working directory in your workspace bucket
        google.project = 'terra.vpc-sc-XXXXXXXX' // change to your user-specific project ID

        // These should not be changed unless you are an advanced user
        process.container = 'katiecardone26/plink2-score:latest' // GCR SAIGE docker container (static)

        // these are AoU, GCR parameters that should NOT be changed
        process.memory = '15GB' // minimum memory per process (static)
        process.executor = 'google-batch' // AoU uses google-batch (static)
        google.zone = "us-central1-a" // AoU uses central time zone (static)
        google.location = "us-central1"
        google.lifeSciences.debug = true 
        google.lifeSciences.network = "network"
        google.lifeSciences.subnetwork = "subnetwork"
        google.lifeSciences.usePrivateAddress = false
        google.lifeSciences.copyImage = "gcr.io/google.com/cloudsdktool/cloud-sdk:alpine"
        google.enableRequesterPaysBuckets = true
    }
}
