// set up params
// can be customized by user
params {
    // parameters used in both workflows

    // python path
    my_python = '/opt/conda/bin/python' // path to python in singularity container or docker image
    // list of chromosomes
    chromosome_list = (1..22)

    // PRScsx parameters

    // whether an individual is stitching another workflow to this one, specifically, stitching a GWAS or meta analysis to this workflow
    // true or false
    // DO NOT put true if stitching PRScsx to a workflow AFTER. Only put true if stitching to a workflow BEFORE PRScsx
    gwas_meta_workflow_stitching = false
    /*
    file that specficies the cohort, ancestry, phenotype, GWAS sample size, and summary statistics filename
    must have five columns in this order: cohort, ancestry, phenotype, GWAS sample size, summary statistics filename
    cohort: a nickname, for example, "AFR_ALL", "AFR_M", "PMBB"
    ld_ref_ancestry: LD reference panel to be used in PRScsx, specified by 1000 genomes (1KG) genetically inferred ancestry group (AFR, AMR, EAS, EUR, SAS)
    sumstats_full_filepath: specify summary statistics filenames with FULL file path
    MUST BE A CSV
    descriptor filename:
    */
    input_descriptor_table_filename = 'test_descriptor_file.csv'
    /*
    dictionary including names of essential columns in sumstats summary table
    specifies cohort, ancestry, phenotype sample size, and summary statistic FULL FILE PATH AND FILENAME column names
    */
    input_descriptor_table_colnames = [cohort_colname : 'COHORT',
                                        ld_ref_ancestry_colname : 'LD_PANEL_ANCESTRY',
                                        phenotype_colname : 'PHENOTYPE',
                                        sample_size_colname : 'SAMPLE_SIZE',
                                        sumstats_full_filepath_colname : 'SUMSTATS_FILEPATH']
    /*
    prscsx computes scores for multiple ancestry groups (defined by LD reference panels) at the same time
    it is possible that cohort names can include ancestry labels (especially when stitching a GWAS workflow to PRScsx)
    this maps a "score group nickname" (key) to cohort names (values) included in descriptor table
    because prscsx can only include one analysis from each ancestry group, DO NOT duplicate ancestry groups in analysis groups
    thus, prscsx will compute scores simultaneously by score group and phenotype
    keys should be score groups and values should be a list of cohorts in each score group
    */
    prscsx_group_cohort_map = ['PRScsx_test_data': ['PRScsx_test_data1', 'PRScsx_test_data2', 'PRScsx_test_data3', 'PRScsx_test_data4']]
    
    /*
    dictionary that specifies the column names in your sumstats files
    specifies chr column, pos column, A1 column, A2 column, beta or odds ration column, and pvalue or standard error column
    this assumes that all sumstats files have the same column names
    do not change the keys (chr_colname, pos_colname, etc), only change the value accordingly
    */
    sumstats_colnames = [chr_colname : 'chromosome', // chromosome column name in sumstats file
                pos_colname : 'base_pair_location', // base pair/position column name in sumstats file
                a1_colname : 'effect_allele', // A1 column name in sumstats file
                a2_colname : 'other_allele', // A2 column name in sumstats file
                quant_beta_or_colname : 'beta', // beta or odds ratio column name for quantitative phenotypes in sumstats file (either works)
                bin_beta_or_colname : 'or', // beta or odds ratio column name for binary phenotypes in sumstats file (either works)
                pval_se_colname : 'p_value'] // p-value or standard error column name in sumstats file (either works)

    /*
    genome build
    b37 or b38
    */
    genome_build = 'b38'
    
    /*
    directory with LD panels and multi-ancestry snp info file
    you MUST use LD panels from the PRScsx github
    because they have RSIDs matching a multi-ancestry SNP file that is specific to PRScsx
    (https://github.com/getian107/PRScsx)
    note that these LD panels are in b37, so sumstats must also be in b37
    you must include a slash (/) after the directory name
    */
    LD_directory = 'ID_Reference/'

    // LD panel types: 1000 genomes or UKBB
    // 1000 genomes label: 1kg
    /// UKBB label: ukbb
    LD_panel_type = '1kg'

    // other prscsx parameters
    param_a = '1' // Parameter a in the gamma-gamma prior. Default is 1
    param_b = '0.5' // Parameter b in the gamma-gamma prior. Default is 0.5
    param_phi = 'auto' /* if NOT using, specify as 'auto'.
    if using: Global shrinkage parameter phi.
    If phi is not specified, it will be learnt from the data using a fully Bayesian approach.
    This usually works well for polygenic traits with very large GWAS sample sizes (hundreds of thousands of subjects).
    For GWAS with limited sample sizes (including most of the current disease GWAS),
    fixing phi to 1e-02 (for highly polygenic traits)
    or 1e-04 (for less polygenic traits),
    or doing a small-scale grid search (e.g., phi = 1e-6, 1e-4, 1e-2, 1)
    to find the optimal phi value in the validation dataset often improves perdictive performance.
    format should be 1e-02 (make sure to include the zero after the minus) */
    mcmc_iterations = '2000' // Total number of MCMC iterations. Default is 1,000 * the number of discovery populations
    mcmc_burnin = '1000' // Number of burnin iterations. Default is 500 * the number of discovery populations
    mcmc_thinning_factor = '5' // Thinning factor of the Markov chain. Default is 5
    meta_flag = 'True' /* If True,
    return combined SNP effect sizes across populations
    using an inverse-variance-weighted meta-analysis of the population-specific posterior effect size estimates.
    Default is False. */
    seed = '7' // Non-negative integer which seeds the random number generator. This can be any number, I always pick 7.

    // Apply PGS Parameters
    
    // plink2 path (MUST BE PLINK2 NOT PLINK1.9)
    my_plink = 'plink2' // path to plink2 in singularity container or docker image (plink2 is on the path)
    /*
    dictionary that specifies the column names in your PGS output files
    need to specify chromosome column, position column, A1 column, A2 column, variant ID column, and PGS column
    this assumes that all PGS output files have the same column names
    do not change the keys (chr_colname, pos_colname, etc), only change the values accordingly
    */
    score_file_colnames = [chr_colname : 'CHR', // chromosome column name in PGS output file
                pos_colname : 'POS', // base pair/position column name
                a1_colname : 'A1', // A1 column name
                a2_colname : 'A2', // A2 column name
                variant_id_colname : 'RSID', // variant ID column name
                pgs_colname : 'PGS'] // PGS column name
    /* 
    score_variant_id_format specifies the variant ID format in the score file
    this assumes that all score files have the same variant ID
    modeled this based on the plink format
    examples:
    "RSID" = RSID (ex: rs6893237)
    "@:#:$r:$a" = chr:pos:ref:alt (ex: 1:100000:G:A)
    "chr@:#:$r:$a" = chr:pos:ref:alt (ex: chr1:100000:G:A)
    '@:#' = chr:pos (ex: 1:100000)
    'chr@:#' = chr:pos (ex: chr1:100000)
    */
    score_variant_id_format = "RSID"
    
    // score delimiter specifies the delimiter of the score files (assumes that all score files have the same delimiter)
    score_delimiter = '\t'
    /*
    dictionary that specifies validation cohort information
    each key is a cohort nickname (ex: PMBB, UKBB, eMERGE)
    each key must have nested keys 'plink_prefix', 'plink_suffix', 'plink_file_flag', 'population_subset_file' and 'variant_id format' but change these values accordingly (make sure the values are in quotes)
    plink files must be chromosome separated
    all cohorts must be in the same genome build as each other and as the PGS outputs
    */
    validation_populations = [my_cohort :
                    [plink_prefix : 'plink_chr', // plink prefix (before chromosome number in plink file) for plink score
                    plink_suffix : '', // plink suffix (after chromosome number in plink file) for plink score
                    plink_file_flag : '--pfile', // plink flag specifying the input file for plink score. options are '--pfile' (for plink2 files) or '--bfile' (for plink1 files). Make sure to write this as '--bfile' and not 'bfile'
                    population_subset_file : 'my_cohort.samples.txt', // file with a list of sample IDs to include when computing the score
                    variant_id_format : 'chr@:#:$r:$a'], // variant ID format in the plink files (exmaple formats are above)
                    other_cohort :
                    [plink_prefix : 'subset_chr.',
                    plink_suffix : '.b38.cleaned',
                    plink_file_flag : '--bfile',
                    population_subset_file : 'my_cohort.samples.txt',
                    variant_id_format : 'chr@:#:$r:$a']]

    // plink score parameters
    dosage_transformation = '' /* defines whether dosage information is transformed
                                possible choices:
                                '' (blank) = basic allele dosages used (0..2 on diploid chromosomes, 0..1 on haploid, male chrX encoding controlled by --xchr-model)
                                'center' = translates all dosages to mean zero. (More precisely, they are translated based on allele frequencies, which you can control with --read-freq)
                                'variance-standardize' = linearly transforms each variant's dosage vector to have mean zero, variance 1 (cannot be used with chrX)
                                'dominant' = causes dosages greater than 1 to be treated as 1 (cannot be used with chrX)
                                'recessive' = uses max(dosage - 1, 0) on diploid chromosomes (cannot be used with chrX)
                            */
    xchr_model = '2'  /*  PLINK 2 dosages are on a 0..2 scale on regular diploid chromosomes, and 0..1 on regular haploid chromosomes.
                        However, chrX doesn't fit neatly in either of those categories. --xchr-model lets you control its encoding in several contexts
                        possible choices:
                        '0' = Skip chrX
                        '1' = Male dosages are on a 0..1 scale on chrX, while females are 0..2. This was the PLINK 1.x default
                        '2' = Males and females are both on a 0..2 scale on chrX. This is the PLINK 2 default
                    */
    read_freq = 'auto'    /*  the --read-freq loads in allele frequency estimates from a --freq (PLINK 1.x ok), --geno-counts, or PLINK 1.9 --freqx report, instead of imputing them from the immediate dataset
                        possible file types (by suffix): .afreq/.acount/.gcount/.freq/.frq/.frq.count/.frqx
                        possible choices:
                        'auto' = not specifying an allele frequency file, instead imputing them from the dataset being used
                        'filename' = filename of an allele frequency file
                    */
    no_mean_imputation = '' /*  By default, copies of unnamed alleles contribute zero to score, while missing genotypes contribute an amount proportional to the loaded (via --read-freq) or imputed allele frequency.
                                To throw out missing observations instead (decreasing the denominator in the final average when this happens), use the 'no-mean-imputation' modifier.
                                possible choices:
                                '' (blank) = not using this modifier
                                'no-mean-imputation' = using this modifier
                            */
    independent_se = '' /*  The 'se' modifier causes the input coefficients to be treated as independent standard errors;
                            in this case, standard errors for the score average/sum are reported, under a Gaussian approximation.
                            (This will of course tend to underestimate standard errors when scored variants are in LD.)
                            possible choices:
                            '' (blank) = not using this modifier
                            'se' = using this modifier
                        */

}
